*
{
text-align: center;
    background-color: rgb(196, 233, 246);
}

.Agrega
{
justify-items: center;
}

.p
{
background-color: rgb(178, 78, 78);

}


.p1
{
  background-color: rgb(33, 198, 140); 
  justify-items: center; 
}

.caja1{
  display: flex;
  justify-content: center;
  height: 50%;
  
}

.caja{
  text-align: center;
   width:  20vw;
    height: 40vh;
    background-color: rgb(163, 178, 180);
    font-size: 15px;
  }
  
  

    /* background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
